.carousel {
	--swiper-pagination-bullet-inactive-color: rgba(var(--neutral-700));
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-color: rgba(var(--neutral-50));

	max-width: 800px;
	width: 100%;

	&-item {
		@apply grid grid-rows-[auto_auto];

		&-cover {
			@apply overflow-hidden h-[400px];
			img {
				@apply w-full h-full object-contain;
			}
		}
		&-text {
			@apply text-sm text-default pt-16 pb-14 text-center w-3/4 mx-auto;
		}
	}

	.swiper-pagination {
		position: static;
		&-bullet-active {
			--swiper-pagination-bullet-width: 2rem;
			--swiper-pagination-bullet-border-radius: 0.5rem;
		}
	}
}
