.select-organization {
	&-container {
		@apply flex flex-col items-center justify-center gap-8 lg:gap-20 h-screen;
	}
	&-title {
		@apply text-default text-2xl font-semibold;
	}
	&-items {
		@apply flex flex-wrap justify-center gap-4 w-1/2;
	}
	&-item {
		@apply flex flex-col justify-center items-center gap-4;
	}
	&-button {
		@apply h-[13rem];
	}
	&-info {
		@apply space-y-2 text-center;
	}
	&-name {
		@apply text-default text-xl truncate max-w-[16ch];
	}
	&-role {
		@apply text-default text-sm;
	}
}
